h1 {
  font-size: 40px;
  color: #08b3e5;
  line-height: 48px;
  display: inline;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


